body {
  margin: 0;
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  all: unset;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  padding: 2rem;
}

.navbar--left {
  display: flex;
  align-items: center;
}

.navbar--logo {
  height: 2rem;
  margin-right: 0.5rem;
}

.navbar--title {
  font-size: 1.5rem;
  font-weight: 700;
}

section {
  padding: 3.5rem;
  max-width: 70%;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.form--input {
  width: 100%;
  border: solid 1px #d5d4d8;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 14px;
}

.form--button {
  margin: 1.5rem 0;
  width: 100%;
  border: solid 1px #d5d4d8;
  border-radius: 0.5rem;
  padding: 0.7rem;
  font-size: 14px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  cursor: pointer;
}

.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme--image img {
  max-width: 100%;
  object-fit: cover;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000,
    0 -2px 0 #000, -2px 0 0 #000, 2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
